.nav-link {
    margin-right: 15px;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family-header: "ui-sans-serif";
    --font-family-sans: "ui-sans-serif";
    --color-brand-50: #fbf9fe;
    --color-brand-100: #eae3fb;
    --color-brand-200: #c9b8f3;
    --color-brand-300: #a88cec;
    --color-brand-400: #8760e5;
    --color-brand-500: #6634de;
    --color-background: #fbf9fe;
    --border-radius-button: 50px;
    font-family: inherit;
    border: 0 solid #e4e4e7;
    --tw-shadow: 0 0 transparent;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    text-decoration: inherit;
    --tw-border-opacity: 1;
    border-radius: var(--border-radius-button);
    border-width: 1px;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    --tw-text-opacity: 1;
    color: rgba(63,63,69,var(--tw-text-opacity));
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: var(--color-brand-50);
    border-color: var(--color-brand-400);
    outline: none;
}