.tb-10{
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    list-style: none;
    color: #43458b;
    text-align: left;
    font-size: 34px;
    letter-spacing: -1px;
    line-height: normal;
    font-weight: 600;
    font-family: "Source Sans Pro",sans-serif;
    background-image: linear-gradient(0deg, #d6facf 0%, #d6facf 100%);
    background-size: 100% 42%;
    background-position: 8px 93%;
    background-repeat: no-repeat;
    display: inline;
    padding-right: 20px;
}



#border {
   
    
    margin: 40px;
    border-radius: 25px;
    border: 2px solid #6634de;
    padding: 33px;
    width: 500px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

#border1 {
   position: absolute   ;
   top: 8%;
   left: 55%;
    margin: 40px;
    border-radius: 25px;
    border: 2px solid #6634de;
    padding: 33px;
    width: 500px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

#border2 {
   
    position: absolute   ;
    top: 37%;
    left: 55%;
    margin: 40px;
    border-radius: 25px;
    border: 2px solid #6634de;
    padding: 33px;
    width: 500px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

#border3 {
   
    position: absolute   ;
    top: 66%;
    left: 55%;
    margin: 40px;
    border-radius: 25px;
    border: 2px solid #6634de;
    padding: 33px;
    width: 500px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}



